<!-- 
 - @file uwb.launch
 - @author Vit Petrik (petrivi2@fel.cvut.cz)
 - @brief Launch nodeleted for Qorvo DW1001 with custom firmware
 - @version 0.1
 - @date 2022-11-17
 - 
 - @copyright Copyright (c) 2022
 - 
-->

<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav)" />
  <arg name="name" default="_uwb" />
  <arg name="profiler" default="$(optenv PROFILER false)" />
  <arg name="preprocessing" default="1" />

  <arg name="output_frame" default="fcu"/>
  <arg name="output_id" default="0"/>
  <arg name="target_uav" default="uav1"/>

  <group ns="$(arg UAV_NAME)">
    <node name="uwb_range" pkg="uwb_range_fake" type="uwb_range_fake_node" output="screen" respawn="true">
        <param name="uav" value="$(arg UAV_NAME)" />
        <param name="output_id" value="$(arg output_id)" />
        <param name="target_uav" value="$(arg target_uav)" />
        <param name="output_frame" value="$(arg output_frame)"/>

        <remap from="~range_out" to="~range"/>
    </node>
  </group>

</launch>